.post-user {
    background-color: inherit;
    margin-bottom: 45px;
}
.post-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    margin-bottom: 6px;
}
.post-content {
    margin-bottom: 16px;
}
.date {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}