.c-user {
    display: flex;
  }
  
  .avatar {
    width: 86px;
    margin-right: 30px;
  }
  
  .username {
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .stats-int {
    color: #262626;
    font-size: 14px;
    margin-right: 4px;
    font-weight: bold;
  }
  
  .watchers {
    color: var(--green);
    text-decoration: none;
  
    .stats-title {
      text-decoration: underline;
    }
  
    &:hover {
      .stats-title {
        text-decoration: none;
      }
    }
  
    &.router-link-active {
      pointer-events: none;
      .stats-title {
        text-decoration: none;
      }
    }
  }
  
  .stats-title {
    font-size: 13px;
  }
  
  .stats-item {
    margin-right: 13px;
  }
  
  .data {
    font-size: 14px;
    color: rgba(168, 168, 168, 1);
  }
  
  .stats {
    display: flex;
  }
  
  .reposts {
    color: #000000;
  
    &.router-link-exact-active {
      text-decoration: none;
      color: #000000;
    }
  }