.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    .icon {
        width: 10px;
        transform: rotate(180deg);
    }
    &.active {
        .icon {
            transform: rotate(0deg);
        }
    }    
}

.text {
    margin-right: 5px;
}
