.x-container {
    max-width: 1300px;
}
.wrapper {
    width: 100%;
    display: flex;
}
.user {
    padding-top: 40px;
    padding-right: 100px;
    height: 100%;
}
.content {
    width: 100%;
    padding-top: 40px;
    border-left: 1px solid #D3D3D3;
    padding-left: 70px;
    margin-right: 20px;
}