body, html {
  height: 100%;
}

body {
  font-family: 'Inter', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
  font-size: 14px;
  line-height: 1.8;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

svg {
  display: block;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
.x-container {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1230px) {
    margin: 0 10px;
  }
}
.container {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 32px;
  background-color: inherit;
}
.topline {
  width: 100%;
  background: #FAFAFA;
  border-bottom: 1px solid #C6C6C8;
}