.c-container {
    width: 375px;
    height: 667px;
    position: relative;
    background: #fff;
    position: relative;
    border-radius: 8px;
    transform: scale(0.8);
    transition: all .6s linear;
    &.active {
        transform: scale(1);
    }
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid #CACACA;
    z-index: 2;
    background: rgba(255, 254, 254, 0.99);
}
.avatar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    border-radius: 0px;
    padding: 12px;
    padding-bottom: 0px;
}
.content {
    margin-top: 35px;
    padding: 95px 18px 100px;
    width: 99%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 3px;
        background-color: #f9f9fd;
      }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #9e9d9d;
      }
      
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
      }
}
.loader {
    width: 100%;
    height: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 375px;
    padding: 24px 52px 32px;
    z-index: 2;
    background: rgba(255, 254, 254, 0.99);
    border-top: 1px solid #CACACA;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.btn-following {
    width: 270px;
}
