.c-topline {
    background: #FAFAFA;
    border-bottom: 1px solid #C6C6C8;
    padding: 42px 0 32px;
}

.headline {
    display: flex;
    justify-content: space-between;
  }

.content {
    padding-top: 37px;
}